/* purgecss start ignore */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import './formulate.css';
@import './tooltip.css';
@import './customglobal.css';
/* purgecss end ignore */
@import 'tailwindcss/utilities';

.btn {
   @apply py-2;
   @apply px-4;
   @apply text-left;
   @apply w-full;
   @apply text-covid-black;
   @apply rounded-md;
   @apply font-bold;
   @apply transition-colors;
   @apply duration-150;
}

.btn:focus {
   @apply outline-none;
}

.btn:hover {
   @apply bg-covid-green;
   @apply text-covid-gray;
}

/*Start Custom */
.origin-top-right {
   transform-origin: top right;
}

.transition-all {
   transition-property: all;
}

.transition-fastest {
   transition-duration: 50ms;
}

.transition-faster {
   transition-duration: 100ms;
}

.transition-fast {
   transition-duration: 150ms;
}

.transition-medium {
   transition-duration: 200ms;
}

.ease-out-quad {
   transition-timing-function: cubic-bezier(.25, .46, .45, .94);
}

.ease-in-quad {
   transition-timing-function: cubic-bezier(.55, .085, .68, .53);
}

.scale-70 {
   transform: scale(.7);
}

.scale-100 {
   transform: scale(1);
}

/*Ending Custom */
